{% assign currentPage = page.url | downcase | remove: '/' | remove: '.html' %}

<header class="site-header">
  <nav class="menu">
      <a {% if currentPage == 'home' %} class="current" {% endif %} href="#">Hello</a>
      <a {% if currentPage == 'digital' %} class="current" {% endif %} href="#">Digital</a>
      <a {% if currentPage == 'product' %} class="current" {% endif %} href="#">Product</a>
      <a {% if currentPage == 'about' %} class="current" {% endif %} href="about.html">About</a>
  </nav>
</header>
